#content {
  height: 850px;
  position:relative;
}
#chord {
  float:left;
  display:inline-block;
}
#location {
  font-size: 50px;
  text-anchor: middle;
  text-shadow: 1px 1px 15px #fff;
  padding: 15px;
  background-color: white;
}
#locationSubtext {
  font-size: 30px;
  text-anchor: middle;
  text-shadow: 1px 1px 15px #fff;
  padding: 15px;
  background-color: white;
}
#metadata {
  float:right;
  display: inline-block;
}
#circle circle {
  fill: none;
  pointer-events: all;
}
.group path {
  fill-opacity: .9;
}

path.chord {}

#circle:hover path.fade {
  display: none;
}

#controls ul {
  list-style-type: none;
  margin:0;
  padding:0;
}

#buttons li {
  padding: 5px;
  background-color: #377eb8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block;
  margin-bottom: 5px;
}
#buttons li.selected {
  background-color: orange;
}
#buttons li:active {
  background-color: #F5C945;
}
#buttons li:hover {
  background-color: #76AEDB;
}
#buttons li a {
  text-decoration: none;
  color: white;
}

#legend {
  position: absolute;
  bottom: 0;
  left: 0;
}
#legend ul {
  list-style-type: none;
  margin:0;
  padding:0;
  color: #222;
}
#legend li {
  display: table-row;
  margin-bottom: 5px;
}
#legend .legendColor {
  width: 20px;
  height: 20px;
  float:left;
  display: inline-block;
  margin-right: 3px;
}
#legend .legendItem {
  float:left;
  display: inline-block;
}